__pycache__/
*.pyc

.env

.vscode/
.idea/
.DS_Store

postgres_data/

migrations/versions/__pycache__/
migrations/versions/*.pyc
migrations/versions/.tmp/
migrations/versions/*

*.db
*.sqlite
*.sqlite3

alembic.ini