IS_PRODUCTION="False"

JWT_ALGORITHM="HS256"
JWT_SECRET="your_super_secret_key_here"

DB_USER="postgres"
DB_PASSWORD="your_db_password"
DB_HOST="db"
DB_NAME="postgres"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="your_db_password"
POSTGRES_DB="postgres"

REDIS_HOST="redis"

RABBITMQ_DEFAULT_USER="guest"
RABBITMQ_DEFAULT_PASS="your_rabbitmq_password"

SMTP_USER="your_smtp_user"
SMTP_PASSWORD="your_smtp_password"