$font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$bg-color: #121212;
$surface-color: #1E1E1E;
$surface-hover: #2C2C2C;

$text-primary: #FFFFFF;
$text-secondary: #B0B0B0;

$primary-accent: #06D6A0;

$tablet-screen-size: 768px;
$big-mobile-screen-size: 425px;