$font-family: 'Inter', -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif;
$bg-color: #121212;
$surface-color: #1E1E1E;
$surface-hover: #2C2C2C;
$text-primary: #FFF;
$text-secondary: #B0B0B0;
$primary-accent: #06D6A0;
$tablet-screen-size: 768px;
$big-mobile-screen-size: 425px;